<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Robertiana Vegher{% endblock %}</title>

    <!-- Carregando a tag static -->
    {% load static %}

    <!-- Usando a tag static para referenciar o CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <img src="{% static 'images/robertiana.jpeg' %}" alt="Logo Robertiana" class="logo">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'properties' %}">Propriedades</a></li>
                <li><a href="{% url 'testimonials' %}">Depoimentos</a></li> <!-- Link para a página de depoimentos -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Robertiana Vegher / Corretora de Imóveis</p>
    </footer>

</body>
</html>
